body{
    overflow-x: hidden;
}

.backgroundImage{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.square1{
    position: absolute;
    width: 1350px;
    height: 350px;
    left: 0px;
    margin: auto;
    background: #31302e;
}
.square2{
    position: absolute;
    width: 450px;
    height: 350px;
    left: 450px;
    margin: auto;
    background: #232221;
}
/*.square3{
    position: absolute;
    width: 1200px;
    height:700px;
    left: 75px;
    margin: auto;
    background: #232221;
}*/

.carImage{
    width: 1200px;
    height: 700px;
    left: 75px;
}
